<h1>New User</h1>

<%= form_for(@user) do |f| %>
<%= render 'form' %>
    <div class="actions">
        <%= f.label :username %>
        <%= f.text_field :username %>

        <%= f.label :password %>
        <%= f.text_field :password %>

        <%= submit_tag 'Sign up' %>
        <%= submit_tag 'Log In', name: 'login_button' %>
    </div>
<% end %>

<%= link_to 'Back', users_path %>
